.exit-btn-style{
    margin: -28px 7px !important;
    padding: 2px 5px !important;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.chart{
width: 100vw;
}